body{
    background-image: url(../Bilder/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;background-attachment: fixed;
    color: rgb(16, 16, 17);
    font-weight: bold;
           } 