*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
header {
    background-color: rgb(21, 74, 74);    
    
    padding: 0%;
    box-shadow: 5px 5px 10px 0px #888888;
    width: 100vw;
    height: 7vh;
    display:inline-block; 
    
   

}
header h3 {
    margin:0 ;
    color:rgb(231, 166, 119);
    letter-spacing: 2px;
   
}

header li {
    
    list-style: none;
    width: 10%;
    display:inline-block;
    margin: 1%;
    margin-left: 2%;
    letter-spacing: 1px;
    font-size: 18px;
    text-align:right;

}

header a {
    text-decoration: none;
    color: white;
    
}


header a:hover {
    background-color: lightgray;/* Hintergrundfarbe beim Mouseover */
    transform: scale(1.5); /*Erhöhen der Größe*/
    display: inline-block;
    color: black;
}
a.current {
    color: #121313; /* Farbe für die aktuelle Seite/Unterseite */
    color: rgb(231, 166, 119);;
}