@font-face {
  font-family: Abril Fatface;
  src: url(./font/AbrilFatface-Regular.ttf);
}
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #dae9f3 ;
  
}

main {
  width: 100%;
}

main section:nth-of-type(1) > video {
  position:relative;
  left: 0;
  object-fit: cover;
  width: 100vw;
  height: 30vh;
}
main section:nth-of-type(2) {
  margin-top: 0px;
  display: flex;
  justify-content:center;
  align-items:flex-start;
}

.text-over-video {
  top: 55px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(26, 26, 92);
  font-size: xx-large;
  position: relative;
}

h1,
h2 {
  font-family: Abril Fatface;

}
hr{
    border: 0px;
    width: 100px;
    margin-top: 0px;
    clear:unset
}
